.track-order-container {
  border-radius: 8px;
  width: 800px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  min-height: 100vh;
}

.track-order-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}

.order-item {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.order-id {
  font-size: 18px;
  color: #333;
}

/* Group to stack status and timestamp vertically */
.order-status-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.blue-color {
  color: rgb(0, 123, 255);
}

.yellow-color {
  color: rgb(255, 123, 0);
}

.green-color {
  color: rgb(3, 230, 3);
}

.order-timestamp {
  font-size: 0.9rem;
  color: #555;
  margin-top: 4px;
}

.order-details {
  display: flex;
  flex-direction: column;
}

.total-price {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.product-title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: -5px;
}

.ordered-products-list {
  padding: 0;
  margin-top: 8px; 
  margin-bottom: 0; 
} 

.product-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
  padding-top: 4px; 
}

.product-name {
  font-size: 18px;
  color: #333;
  padding-left: 30px;
  margin-bottom: 0; 
}


.product-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.product-quantity {
  font-size: 18px;
  font-weight: 500;
  color: rgb(0, 123, 255);
  padding-right: 350px;
}

.no-orders {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  color: #888;
}

.shipping-address {
  font-size: 16px;
  color: #444;
  margin-top: 8px;
}
